# site properties and page defaults
title: BHE-AIM-IPBS
subtitle: 
description: Welcome to bhe-aim-ipbs website! Relying on The Key Laboratory of Brain Health Intelligent Evaluation and Intervention of the Ministry of Education, our lab is dedicated to solving the problem of intelligent perception of body sounds and contributing to the advancement of the discipline and society. We welcome people from all areas to visit our website to know more about our research achievements, team members and other contents. We look forward to working with you to explore the mysteries of science!
header: images/background_2.jpg
footer: images/background_2.jpg
proofer: false

# site social media and other links
# 常用网站链接
links:
  Beijing Institute of Technology: https://www.bit.edu.cn/
  School of Medical Technology: https://smt.bit.edu.cn/
  Key Laboratory of Brain Health Intelligent Evaluation and Intervention of the Ministry of Education: https://bhe-lab.org/


### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
